<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <!-- <app-breadcrumb [title]="'Dashboard'" [items]="['Home']" [active_item]="'Dashboard'">
        </app-breadcrumb> -->
    </div>

    <mat-tab-group>
      <mat-tab label="System Dashboard">
        <div class="row" *ngIf="loaded">
          <div class="col-lg-3 col-sm-4">
            <div class="info-box7 bg-c-brown order-info-box7" matTooltip="Deliveries" routerLink="/staff/sales/collections">
              <div class="info-box7-block">
                <h4 class="m-b-20">Todays Qty (Kgs)</h4>
                <h2 class="info-box-content">
                  <span class="info-value">{{quantity}}</span>
                  <i class="fas fa-weight-hanging icon-qty"></i>
                </h2>

              </div>

            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="info-box7 bg-c-brown order-info-box7" matTooltip="Delivery Count" routerLink="/staff/sales/collections">
              <div class="info-box7-block">
                <h4 class="m-b-20">Todays Count</h4>
                <h2 class="info-box-content">
                  <span class="info-value">{{count}}</span>
                  <i class="fas fa-boxes icon-count"></i>
                </h2>              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="info-box7 bg-c-brown order-info-box7" matTooltip="Farmer Count" routerLink="/staff/farmers/farmers">
              <div class="info-box7-block">
                <h4 class="m-b-20">All Farmers</h4>
                <h2 class="info-box-content">
                  <span class="info-value">{{farmers}}</span>
                  <i class="fas fa-user-friends icon-farmers"></i>
                </h2>              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="info-box7 bg-c-brown order-info-box7" matTooltip="Monthly Amount"
              routerLink="/staff/sales/collections">
              <div class="info-box7-block">
                <h4 class="m-b-20">Month Amount (KES)</h4>

                <h2 class="info-box-content">
                  <span class="info-value">{{amount | number : '1.2-2' }}</span>
                  <i class="fas fa-coins icon-amount"></i>
                </h2>
              </div>

            </div>
          </div>


        </div>



    <!-- Widgets -->



    <!--Milk Collections Analysis Per Collector-->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collector-collections></app-collector-collections>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-milk-qauntity-per-location></app-milk-qauntity-per-location>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-milk-collection-quantity-against-price></app-milk-collection-quantity-against-price>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collector-collections-count></app-collector-collections-count>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collector-collections-in-quantity-per-session></app-collector-collections-in-quantity-per-session>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collector-collections-in-price-per-session></app-collector-collections-in-price-per-session>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collector-collections-milk-price></app-collector-collections-milk-price>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collections-quantity></app-collections-quantity>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collections-price></app-collections-price>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collector-collections-per-date></app-collector-collections-per-date>
      </div>
    </div>


    <!-- <div class="row">
      <div class="col-6">
        <app-collections-per-collector></app-collections-per-collector>
      </div>

      <div class="col-6">
        <app-farmers-per-pickup-location></app-farmers-per-pickup-location>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <app-pickup-locations-per-ward></app-pickup-locations-per-ward>
      </div>

      <div class="col-6">
        <app-milk-collections-per-ward></app-milk-collections-per-ward>
      </div>
    </div> -->
      </mat-tab>
      <mat-tab label="PowerBI Dashboard">
        <div>
          <iframe title="Bahati Collection" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=36074678-e1b6-40f6-af20-8b416158cda5&autoAuth=true&ctid=1f7fe655-aa8d-442e-8cad-d636fe69c01e" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</section>