<div class="login-wrapper">
  <div class="left-image">
    <img src="assets/images/login/login_image.png" alt="Login Illustration" />
  </div>

  <div class="right-section">
    <mat-card class="login-card forgot-card">
      <div class="logo">
        <h2>Forgot Password</h2>
        <h3 style="color: #FDB913">goAML Reporting Solution</h3>
        <p class="subtitle">Let Us Help You</p>
      </div>

      <form class="login-form validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12 mb-2">
            <section class="example-section">
              <label class="example-margin">Select :</label>
              <mat-radio-group (change)="selectOption($event)" formControlName="addAttendeesOptions">
                <mat-radio-button class="example-margin" value="Email" checked>Email</mat-radio-button>
                <mat-radio-button class="example-margin" value="Username">Username</mat-radio-button>
              </mat-radio-group>
            </section>
          </div>
        </div>

        <!-- Email Option -->
        <div *ngIf="emailSelected" class="row">
          <div class="col-12 mb-2">
            <span class="error-subheader2">Enter your registered email address.</span>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" required />
              <mat-icon matSuffix>mail</mat-icon>
              <mat-error *ngIf="
                  authForm.get('email').hasError('required') ||
                  authForm.get('email').touched
                ">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Username Option -->
        <div *ngIf="usernameSelected" class="row">
          <div class="col-12 mb-2">
            <span class="error-subheader2">Enter your registered username.</span>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" required />
              <mat-icon matSuffix>face</mat-icon>
              <mat-error *ngIf="
                  authForm.get('username').hasError('required') ||
                  authForm.get('username').touched
                ">
                Please enter a username
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Submit Button -->
        <button mat-raised-button type="submit" class="sign-in-btn full-width">
          Reset Password
          <img *ngIf="!loading" src="assets/images/login/Vector.png" alt="Arrow Vector" class="arrow-vector-img" />
          <img *ngIf="loading" src="assets/images/login/loading.png" alt="Loading..." class="arrow-vector-img spin" />
        </button>

        <a routerLink="/authentication/signin" class="forgot-password-text" style="
            color: black;
            text-decoration: underline;
            text-decoration-color: #19398A;
            text-underline-offset: 3px;
            font-weight: bold;
            font-size: 10px;
          " onmouseover="this.style.color='#FDB913'" onmouseout="this.style.color='black'">
          Back to Login
        </a>
      </form>

      <div class="footer">
        <small>© 2025 goAML | E&M Technology House</small>
      </div>
    </mat-card>
  </div>
</div>