
<nav #navbar class="navbar active custom-navbar">
  <div class="container-fluid bg wbg">
    <div class="navbar-content d-flex justify-content-between align-items-center w-100">
      <div class="menu-left">
        <button
          mat-icon-button
          (click)="callSidemenuCollapse()"
          class="sidemenu-collapse"
          [class.active]="isOpenSidebar"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <app-sidebar (menuClicked)="closeSidebar()"></app-sidebar>
</nav>
