<section class="content">
    <div class="content-block">
        <!-- page header -->
         <div class="block-header">
            <app-breadcrumb [title]="'Profile'" [items]="['User']" [active_item]="'User Profile'"></app-breadcrumb>
         </div>

         <!-- body content -->
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <!-- user details card -->
                <div class="card">
                    <br>
                    <div class="header">
                        <h2>Personal Information</h2>
                    </div>
                </div>
            </div>
         </div>
    </div>
</section>