<section class="content">
  <div class="content-block">
    <div class="dashboard-content">
      <div class="header-cards">
        <div class="header-card large-card">
          <div class="welcome">
            <p class="greeting">Welcome Back</p>
            <h3>{{ firstname }} {{ lastname }}</h3>
            <h2 class="system-title">goAML Reporting System</h2>
          </div>
          <div class="illustration">
            <img
              src="assets/images/login/dashboard_img.png"
              alt="illustration"
            />
          </div>
        </div>

        <div class="reports-summary-card">
          <div class="reports-summary-header">
            <h3 style="color: #001e3c">Generated Reports</h3>
          </div>

          <div class="reports-summary-body">
            <h1>1000</h1>
            <a routerLink="/admin/reports/reports" class="view-all"
              >VIEW ALL →</a
            >
          </div>
        </div>
      </div>

      <div class="actions">
        <button (click)="openReportType('SAR')">
          New SAR <i class="fas fa-arrow-right"></i>
        </button>
        <button (click)="openReportType('STR')">
          New STR <i class="fas fa-arrow-right"></i>
        </button>
        <button (click)="openReportType('STAR')">
          New STAR <i class="fas fa-arrow-right"></i>
        </button>
        <button (click)="openReportType('CTR')">
          New CTR <i class="fas fa-arrow-right"></i>
        </button>
        <button (click)="openReportType('AccStmt')">
          Account Statements <i class="fas fa-arrow-right"></i>
        </button>
      </div>
      <div class="recent-section">
        <div class="section-header">
          <h3>Recent Reports</h3>
          <a href="#" routerLink="/admin/reports/reports" class="view-all"
            >VIEW ALL →</a
          >
        </div>

        <div class="table-responsive">
          <mat-table
            #table
            matTableExporter
            [dataSource]="dataSource"
            matSort
            class="mat-cell"
            #exporter="matTableExporter"
          >
            <ng-container matColumnDef="id">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="column-nowrap"
              >
                Id
              </mat-header-cell>
              <mat-cell
                *matCellDef="let report; let i = index"
                [class.odd-row]="i % 2"
                [class.even-row]="!(i % 2)"
                class="column-nowrap"
              >
                {{
                  paginator
                    ? paginator.pageIndex * paginator.pageSize + i + 1
                    : i + 1
                }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="account_number">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="column-nowrap"
              >
                Account Number
              </mat-header-cell>
              <mat-cell
                *matCellDef="let report; let i = index"
                [class.odd-row]="1 % 2"
                [class.even-row]="!(i % 2)"
                class="column-nowrap"
              >
                {{ report.account_number }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="reporting_user">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="column-nowrap"
              >
                Generated By
              </mat-header-cell>
              <mat-cell
                *matCellDef="let report; let i = index"
                [class.odd-row]="1 % 2"
                [class.even-row]="!(i % 2)"
                class="column-nowrap"
              >
                {{ report.reporting_user }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="column-nowrap"
              >
                Date
              </mat-header-cell>
              <mat-cell
                *matCellDef="let report; let i = index"
                [class.odd-row]="1 % 2"
                [class.even-row]="!(i % 2)"
                class="column-nowrap"
              >
                {{ report.date }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="account">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="column-nowrap"
              >
                Account Number
              </mat-header-cell>
              <mat-cell
                *matCellDef="let report; let i = index"
                [class.odd-row]="1 % 2"
                [class.even-row]="!(i % 2)"
                class="column-nowrap"
              >
                {{ report.account }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="column-nowrap"
              >
                Report Type
              </mat-header-cell>
              <mat-cell
                *matCellDef="let report; let i = index"
                [class.odd-row]="1 % 2"
                [class.even-row]="!(i % 2)"
                class="column-nowrap"
              >
                {{ report.type }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="file_name">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="column-nowrap"
              >
                File Name
              </mat-header-cell>
              <mat-cell
                *matCellDef="let report; let i = index"
                [class.odd-row]="1 % 2"
                [class.even-row]="!(i % 2)"
                class="column-nowrap"
              >
                {{ report.file_name }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="column-nowrap"
              >
                File
              </mat-header-cell>
              <mat-cell
                *matCellDef="let report; let i = index"
                [class.odd-row]="1 % 2"
                [class.even-row]="!(i % 2)"
                class="column-nowrap"
              >
                <button
                  mat-icon-button
                  color="accent"
                  (click)="$event.stopPropagation(); downloadReport(report.id)"
                  class="tbl-action-btn"
                  matTooltip="file"
                  aria-label="file"
                >
                  <i class="fas fa-folder-open"></i>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumns"
              (click)="requestDetailsCall(request)"
              [style.cursor]="'pointer'"
              matRipple
            ></mat-row>

            <mat-cell *matNoDataRow colspan="4">
              No data matching the filter "{{ input.value }}"
            </mat-cell>
          </mat-table>

          <div class="tbl-spinner" *ngIf="isLoading">
            <h4>0 Records Found</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
