<section class="content">
  <div class="content-block">

    <div class="dashboard-content">
      <div class="header-cards">
        <div class="header-card large-card">
          <div class="welcome">
            <p class="greeting">Welcome Back</p>
            <h3>{{ firstname }} {{ lastname }}</h3>
            <h2 class="system-title">goAML Reporting System</h2>
          </div>
          <div class="illustration">
            <img
              src="assets/images/login/dashboard_img.png"
              alt="illustration"
            />
          </div>
        </div>

        <div class="reports-summary-card">
          <div class="reports-summary-header">
            <h3 style="color: #001e3c;">Generated Reports</h3>
          </div>

          <div class="reports-summary-body">
            <h1>1000</h1>
            <a routerLink="/admin/reports/reports" class="view-all">VIEW ALL →</a>
          </div>
        </div>
      </div>

      <!-- <div class="row">
         <div class="reports-summary-card">
          <div class="reports-summary-header">
            <h5>Total Reports Generated</h5>
          </div>

          <div class="reports-summary-body">
            <h3>100</h3>
          </div>
        </div>

        <div class="reports-summary-card">
          <div class="reports-summary-header">
            <div class="reports-summary-header">
              <h4 class="m-b-20">Pending Submissions</h4>
              <h3 class="text-end">
                <span class="float-start"> 100 </span
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="reports-summary-card">
          <div class="reports-summary-header">
            <div class="reports-summary-header">
              <h4 class="m-b-20">Failed Submissions</h4>
              <h3 class="text-end">
                <span class="float-start"> 100 </span
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="reports-summary-card">
          <div class="reports-summary-header">
            <div class="reports-summary-header">
              <h4 class="m-b-20">Last Submission Date</h4>
              <h3 class="text-end">
                <span class="float-start">2025-10-23</span
                >
              </h3>
            </div>
          </div>
        </div>
      </div> -->

      <div class="actions">
        <button (click)="openReportType('STR')">New STR/SAR <i class="fas fa-arrow-right"></i></button>
        <button (click)="openReportType('STAR')">New STAR <i class="fas fa-arrow-right"></i></button>
        <button (click)="openReportType('CTR')">New CTR <i class="fas fa-arrow-right"></i></button>
        <button (click)="openReportType('MID')">New MID <i class="fas fa-arrow-right"></i></button>
      </div>
      <div class="recent-section">
        <div class="section-header">
          <h3>Recent Reports</h3>
          <a href="#" routerLink="/admin/reports/reports" class="view-all">VIEW ALL →</a>
        </div>

        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Account Number</th>
                <th>Transaction Type</th>
                <th>Amount</th>
                <th>File</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let report of reports">
                <td>{{ report.date }}</td>
                <td>{{ report.account }}</td>
                <td>{{ report.type }}</td>
                <td>{{ report.amount }}</td>
                <td><i class="fas fa-folder-open"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
