<div class="card">
  <div class="header">
    <h2>Collector Collections Count</h2>
  </div>
  <!-- <div class="row p-3">
    <div class="col-md-4">
      <form [formGroup]="chartParametersForm">
        <mat-form-field appearance="legacy">
          <mat-label>Select Chart Period</mat-label>
          <mat-select (selectionChange)="onSelectPeriod($event)" formControlName="period">
            <mat-option *ngFor="let item of chartDispType" value="{{ item }}">{{ item }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="col-md-8">
      <form [formGroup]="chartParametersForm" *ngIf="this.needYear">
        <mat-form-field appearance="legacy">
          <mat-label>Select Year</mat-label>
          <mat-select (selectionChange)=" getMeetingsPerStatusMonthwise($event)" formControlName="year">
            <mat-option *ngFor="let item of this.meetingYears" value="{{ item.year }}">{{ item.year }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <form [formGroup]="chartParametersForm" *ngIf="this.needMonth">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="legacy">
              <mat-label>Select Year</mat-label>
              <mat-select (selectionChange)="getMeetingsPerStatusDaywise($event)" formControlName="year">
                <mat-option *ngFor="let item of this.meetingYears" value="{{ item.year }}">{{ item.year }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="legacy">
              <mat-label>Select Month</mat-label>
              <mat-select (selectionChange)="getMeetingsPerStatusDaywise($event)" formControlName="month">
                <mat-option *ngFor="let item of monthsArray" value="{{ item }}">{{ item }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div> -->
  <div class="body">
    <div class="recent-report__chart" *ngIf="!isLoading">
      <apx-chart [series]="lineChartOptions.series" [chart]="lineChartOptions.chart"
        [xaxis]="lineChartOptions.xaxis" [stroke]="lineChartOptions.stroke" [colors]="lineChartOptions.colors"
        [dataLabels]="lineChartOptions.dataLabels" [legend]="lineChartOptions.legend"
        [tooltip]="lineChartOptions.tooltip" [markers]="lineChartOptions.markers" [grid]="lineChartOptions.grid"
        [yaxis]="lineChartOptions.yaxis" [title]="lineChartOptions.title" [fill]="lineChartOptions.fill">
      </apx-chart>
    </div>
  </div>
  <div *ngIf="isLoading">
    <app-spinner></app-spinner>
   </div>
</div>