<div class="lookupContainer">
  <div class="modalHeader">
    <h2 class="title">Payment Option Details</h2>
    <button mat-icon-button (click)="close()" aria-label="Close dialog" class="closeBtn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <form [formGroup]="paymentForm" class="formContent" autocomplete="off" novalidate>
      <mat-form-field appearance="fill" class="fullWidth">
        <mat-label>Category Name</mat-label>
        <input matInput formControlName="categoryName" readonly />
      </mat-form-field>

      <!-- Spacer -->
      <div style="margin-top: 1rem;"></div>

      <mat-form-field appearance="fill" class="fullWidth">
        <mat-label>Payment Option</mat-label>
        <textarea matInput formControlName="name" rows="3" readonly></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" class="fullWidth">
        <mat-label>Created On</mat-label>
        <input matInput formControlName="createdOn" readonly />
      </mat-form-field>
    </form>
  </mat-dialog-content>


  <mat-checkbox formControlName="active" disabled class="activeCheckbox">Active</mat-checkbox>

  <mat-dialog-actions align="end" class="actions">
    <button mat-stroked-button color="primary" (click)="close()">Close</button>
  </mat-dialog-actions>
</div>
