<div class="addContainer">
  <div class="card">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <img src="../../../../../assets/images/bahati.png" width="30px" height="30px" alt="avatar" />
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
              Update User
            </div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="body" style="padding: 1rem; margin: 10px;">
      <form class="register-form m-8" [formGroup]="accountForm" (ngSubmit)="updateAccount()">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-4">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>User name</mat-label>
              <input matInput formControlName="username" required />
              <mat-error *ngIf="accountForm.get('username').hasError('required')">
                User name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-4">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>First name</mat-label>
              <input matInput formControlName="firstName" required />
              <mat-error *ngIf="accountForm.get('firstName').hasError('required')">
                First name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-4">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lastName" required />
              <mat-error *ngIf="accountForm.get('lastName').hasError('required')">
                Last name is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-4">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
              <mat-error *ngIf="accountForm.get('email').hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="accountForm.get('email').hasError('email')">
                Invalid email format
              </mat-error>
            </mat-form-field>
          </div>
          <!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-4">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Role</mat-label>
              <input matInput formControlName="role" />
              <button (click)="roleLookup()" mat-icon-button matSuffix [attr.aria-label]="'Search role'">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </div> -->
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-4">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Mobile</mat-label>
              <input matInput formControlName="mobile" required />
              <mat-error *ngIf="accountForm.get('mobile').hasError('required')">
                Mobile is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <div class="example-button-row" align="end">
              <button mat-raised-button color="primary" class="btn-space" [class.auth-spinner]="loading" [disabled]="loading || !accountForm.valid">
                Save
              </button>
              <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>