/* You can add global styles to this file, and also import other style files */

.odd-row {
  background-color: white;
}

.even-row {
  background-color: #eee;
}

html, body {
  height: 100%;
  font-family:'Roboto';
  font-weight: 400 !important;
}
body {
  // text-transform: uppercase !important;
  margin: 0;
  font-family:'Roboto'
}

